.clients {
    margin-top: 3rem;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
    }

    ul {

        column-count: 1;
        column-gap: 5%;

        li {
            margin-bottom: 0.2rem;
            padding-left: 2%;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

@media (min-width: 576px) {
    .clients {
    
        ul {
            column-count: 2;
            column-gap: 10%;
        }
    }
}

@media (min-width: 768px) {
    .clients {
        ul {
            column-count: 3;
            column-gap: 5%;
        }
    }

}