.header-view {
    position: fixed;
    width: 100%;
    z-index: 2;
    mix-blend-mode: difference;

    &-wrapper {
        padding:5rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
    }
    
    h1 {
        font-size: 3rem;
        color: white;
        font-family: arial;
        text-shadow: 0px 0px 2px black;
    }

    h2 {
        color: white;
        font-weight: 600;
        font-family: arial;
        align-self: center;
    }
}

@media (min-width: 576px) {
    .header-view {
        &-wrapper {
            padding: 2rem 2rem;
        }
    }
}

@media (min-width: 1500px) {
    .header-view {
        &-wrapper {
            padding: 1rem 4rem;
        }
        h1 {
            font-size: 4rem;
        }
    
        h2 {
            font-size: 2rem;
            font-weight: 500;
        }
    }
}