.multi-media-displayer {
    width: 100%;
    height: 600px;

    &__view {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }

    .opacity-0 {
        opacity: 0;
    }
}


@media (min-width: 992px) {
    .multi-media-displayer {
        height: 600px;
        &__wrapper {
            height: 600px;
        }
    }
}

@media (min-width: 1500px) {
    .multi-media-displayer {
        height: 100%;
        &__wrapper {
            height: unset;
        }
    }
}
