body {
    margin: 0;
    background-color: white;
}

h3 {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-weight: 300;
}

@media (min-width: 576px) {
    .services {
        &-cards__wrapper {
            gap: 8%;
            .service-card {
                width: 45%;
                max-width: 45%;
            } 
        }
    }
}

@media (min-width: 1500px) {
    h3 {
        margin: 0 0 2rem;
        font-size: 1.7rem;
    }
}